<div class="container-fluid  dashboard-content">
    <div class="row">
        <!--hidden="hidden"-->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">BANKS</h2>
                <p class="pageheader-text">...</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript: void(0);" class="breadcrumb-link">Add a new
                                    bank</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" hidden="hidden">...</h4>
                    <div class="form-sample">
                        <section id="svElems">
                            <div class="row">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="Controllers/BankController.js"></script>
<script>
    $(document).ready(function () {

    })
</script>